﻿@model WebApplication.ViewModels.Admin.BooksListAdminViewModel

@{
    ViewBag.Title = "Список книг";
    Layout = "_Layout";
}

@section Navbar
{}

<h2>Список книг</h2>
<table class="table table_search table_sort" id="info-table">
    <input type="text" class="form-control" placeholder="Поиск" id="search-text" onkeyup="tableSearch()">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Дата публикации</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Адрес изображения</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                <a asp-action="BookEdit" asp-route-id="@book.Id">@book.Id</a>
            </td>
            <td>@book.Title</td>
            <td>@book.Description</td>
            <td>@book.PublicationYear</td>
            <td>@book.Rating</td>
            <td>@book.BookCover</td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="BookCreate">Добавить</a>

@section Scripts
{
    <script src="~/js/admin.js"></script>
}