﻿@model WebApplication.ViewModels.Admin.BookCreateAdminViewModel

@{
    ViewBag.Title = "Создание книги";
}
@section Navbar
{}
<form action="" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value="@Model.Id" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" value="@Model.Title"/>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" value="@Model.Description"/>
    </div>
    <div class="form-group">
        <label asp-for="PublicationYear" class="control-label"></label>
        <input asp-for="PublicationYear" class="form-control" value="@Model.PublicationYear"/>
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input asp-for="Rating" class="form-control" value="@Model.Rating" readonly/>
    </div>
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*             <label asp-for="" class="control-label"></label> *@
    @*             <input asp-for="" class="form-control" value="@Model." /> *@
    @*         </div> *@
    <button type="submit" class="btn" asp-controller="Admin" asp-action="BookEdit" formmethod="post">Изменить</button>
    <button type="submit" class="btn" asp-controller="Admin" asp-action="BookDelete" formmethod="post">Удалить</button>
</form>
<h2>title</h2>