﻿@model WebApplication.ViewModels.Admin.BookCreateAdminViewModel

@{
    ViewBag.Title = "Создание книги";
}
@section Navbar
{}
<form action="" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" value="" placeholder="Название"/>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" value="" placeholder="Описание"/>
    </div>
    <div class="form-group">
        <label asp-for="PublicationYear" class="control-label"></label>
        <input asp-for="PublicationYear" class="form-control" value="" placeholder="Дата публикации"/>
    </div>
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*     <label asp-for="" class="control-label"></label> *@
    @*     <input asp-for="" class="form-control" value="@Model." /> *@
    @* </div> *@
    @* <div class="form-group"> *@
    @*             <label asp-for="" class="control-label"></label> *@
    @*             <input asp-for="" class="form-control" value="@Model." /> *@
    @*         </div> *@
    <button type="submit" class="btn" asp-controller="Admin" asp-action="BookCreate" formmethod="post">Создать</button>
</form>
<h2>title</h2>