@model WebApplication.ViewModels.MainViewModel
@{ ViewData["Title"] = "Home Page"; }



@if (User.Identity != null && User.Identity.IsAuthenticated)
{
@section Navbar{
    @await Html.PartialAsync("../Partials/AccountNavbar", Model.UserModel.Id)
}
}
@{ ViewData["Title"] = "Home Page"; }

<main role="main">
    <div class="tegg" style=" padding: 16px 0px 8px; overflow: visible; background: #ffffff ;position: relative; margin-bottom: 16px;padding: 16px;border-radius: 12px;">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-outline-warning" href="" role="button"><!-- -->👌 Бесплатные книги</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-warning" href="" role="button"><!-- -->🔥 Новинки</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-warning"  asp-controller="Home" asp-action="Top" role="button"><!-- -->❤️ Топ книг</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-warning" asp-controller="Home" asp-action="Information" as role="button"><!-- -->⚡ LitRead:Информация</a>
            </div>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide pointer-event" data-ride="carousel" style="padding: 16px 0px 8px; overflow: visible; background: #ffffff;position: relative; margin-bottom: 16px;padding: 16px;border-radius: 12px;">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                @foreach (var book in @Model.Books)
                {
                    <li>
                         @{ var imagePath = $@"media/books/{book.BookCover}"; }
                        <a asp-controller="Book" asp-action="Book" asp-route-id="@book.Id"><img style="border-radius: 8px;" src="~/@imagePath" alt=""></a>
                        <div class="uk-position-center uk-panel"></div>
                    </li>

                }
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
    <div class="container marketing ">
        <div class="billetContainerNoOverflow" style="padding: 16px 0px 8px; overflow: visible; background: #ffffff;position: relative; margin-bottom: 16px;padding: 16px;border-radius: 12px;">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/img/book/Отцыидети.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Отцы и дети</h2>
                    <p>
                        О книге
                        В романе «Отцы и дети» отразилась идеологическая борьба двух поколений, являвшаяся одной из главных особенностей общественной жизни 60-х годов XIX века. Роман приобрел непреходящие общечеловеческий интерес и значение.
                        <br>
                        <br>
                    </p>
                    <p><a class="btn btn-secondary" href="#" role="button">Читать »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/img/book/Выйтииз зоныдискомфорта.jpg" alt="" width="140" height="140">
                    <h2>Выйти из зоны дискомфорта</h2>
                    <p>
                        Мы часто слышим в свой адрес: «Выйди из зоны комфорта!». Но этот посыл воспринимается именно людьми, которые находятся в глубочайшем дискомфорте и хотят от него избавиться. В самом деле, если человеку хорошо, то зачем и куда ему выходить?

                    </p>
                    <p><a class="btn btn-secondary" href="" role="button">Читать »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/img/book/Мертвыедуши.jpe" alt="" width="140" height="140">
                    <h2>Мёртвые души</h2>
                    <p>«Мертвые души» — гениальное произведение Николая Васильевича Гоголя, учебник жизни и ключ к пониманию характеров и типажей нашего общества. Сам автор определил жанр произведения как поэму. До наших дней дошел только первый том, вторая же часть произведения была уничтожена самим автором. Сюжет книги основан на реальной истории, которую Гоголю подсказал Александр Сергеевич Пушкин.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Читать »</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Любые книги по подписке </h2>
                <p class="lead">Все произведения входят в подписки — стандартную или премиум. Оформите премиум, чтобы получить полный доступ к онлайн-библиотеке, или стандарт, чтобы читать только бестселлеры и классику. Можно выбрать подходящий срок подписки: на месяц, три месяца или год. Больше не нужно покупать по одной! Если вам не понравилась книга, вы можете ее бросить без сожаления о потраченных деньгах. Безлимитный доступ к библиотеке позволяет тут же выбрать новую.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/img/book/Книги.png">
            </div>
        </div>
    </div>
</main>

       