﻿@* @{ *@
@*     ViewData["Title"] = "Информация"; *@
@* } *@
<div class="bg-info">
    <h1>О книжном клубе MyBook</h1>
    <h2>Что это такое</h2>
    <p>LitRead — это современная библиотека в интернете, которая открывает вам доступ к каталогу бестселлеров и классической литературы, включая новинки разных жанров: от художественных до научно-популярных книг и деловой литературы. Более 320&nbsp;000 наименований из более чем двадцати разных жанров.</p>
    <p>Привычная идея библиотеки в том, что <strong>вместо покупки отдельных книг вы получаете доступ ко всему каталогу.</strong> Мы не продаём книги и не заставляем их скачивать, а даём читать без ограничений и на разных устройствах. Достаточно оформить подписку.</p>
    <p>В привычном понимании электронные книги до сих пор были похожи на бумажные: это отдельные файлы, которые нужно где-то скачать и хранить, после этого закинуть в ридер-читалку, а если у вас несколько устройств для чтения, то придётся на каждом поддерживать отдельную копию своей библиотеки. Если же вы не просто читаете книги, а ещё и сохраняете цитаты и закладки, то синхронизировать всё это чаще всего приходится вручную.</p>
    <p>Именно для тех, кто читает много и с удовольствием, мы решили сделать LitRead — клуб-библиотеку, вступив в который вы сможете читать не только книги, которые у вас уже есть, но и издания из нашего обширного каталога.</p>

</div>
