﻿@page
@{
    ViewData["Title"] = "Новинки";
}
<style>
    .pricing-header {
        max-width: 700px;
    }

    .text-center {
        text-align: center !important;

    }
    .container {
        max-width: 960px;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
</style>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Новинки</h1>
    <p class="lead">Здесь можете ознакомиться с новыми книгами этого месяца</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="~/img/book/8.jpg">
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>295 печатных страниц</li>
                    <li>2021 год</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-warning">Прочитать</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="~/img/book/8.jpg">
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>295 печатных страниц</li>
                    <li>2021 год</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-warning">Прочитать</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="~/img/book/8.jpg">
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>295 печатных страниц</li>
                    <li>2021 год</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-warning">Прочитать</button>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

