﻿@* @{ *@
@*     ViewData["Title"] = "Топ книги";  *@
@* } *@
<h1 class="BooksetListView__headerTitle">Подборки по теме «Топ чтения»</h1>
<div id="myCarousel" class="carousel slide pointer-event" data-ride="carousel" style="padding: 16px 0px 8px; overflow: visible; background: #ffffff;position: relative; margin-bottom: 16px;padding: 16px;border-radius: 12px;">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/1.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/2.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/3.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/4.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/5.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/6.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
            <li>
                <a href=""><img style="border-radius: 8px;" src="~/img/book/7.jpg" alt=""></a>
                <div class="uk-position-center uk-panel"></div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
    </div>
