﻿@model DAL.Models.Product
 
@{
    ViewData["Title"] = "Новая модель";
}
<h2>@ViewData["Title"]</h2>
 
<form asp-action="Create" asp-controller="UsefulMongoDb">
    <div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Company"></label>
            <input type="text" asp-for="Company" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>
 
<div>
    <a asp-controller="Home" asp-action="Index">Вернуться к списку</a>
</div>