﻿@model WebApplication.ViewModels.LoginViewModel
<style>
    .filterBackground {
        width: 1100px;
        margin: auto;
        margin-top: 10px;
        height: 65px;
    }

    .topBackground {
        width: 1100px;
        margin: auto;
        margin-top: 15px;
        height: 100%;
        background-color: rgb(141, 200, 202);
    }

    .registration_backrond {
        width: 1100px;
        height: 950px;
        margin: auto;
        margin-top: 15px;
        background-color: rgb(141, 200, 202);
    }

    .login_backrond {
        width: 1100px;
        height: 460px;
        margin: auto;
        margin-top: 15px;
        background-color: rgb(141, 200, 202);
    }

    #login_backrondForm {
        width: 1200px;
        margin: auto;
        margin-top: 15px;
        height: 100%;
        background-color: white;
    }
</style>
<div class="login_backrond">
    <div class="container">
        <div class="row">
            <div class="col-md-5 rounded border" id="login_backrondForm">
                <h2>Вход</h2>
                <form method="post" asp-controller="Auth" asp-action="Login"
                      asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label asp-for="Email"></label><br />
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label asp-for="Password"></label><br />
                        <input asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="RememberMe"></label><br />
                        <input asp-for="RememberMe" />
                    </div>
                    <div>
                        <input type="submit" value="Войти" class="btn-warning" />
                    </div>
                </form>
                @if (Model.ExternalLogins != null && Model.ExternalLogins.Count != 0)
                {
                    <form method="post" asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name">@provider.DisplayName</button>
                            }
                        </div>
                    </form>
                }
                <div>Не зарегистрированы? <a asp-controller="Auth" asp-action="Register">Зарегистрироваться</a></div>
            </div>
        </div>
    </div>
</div>
