﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LitRead </title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="324164252228-1tmr178achel3jmunh9r8mv5sbbetobv.apps.googleusercontent.com">
</head>
<body style="background-color: #EEEEEE; ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-whit border-bottom box-shadow mb-3 bg-light">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo badge bg-warning text-dark" href="/">LitRead</a>
                <form class="form-inline mx-4 my-2 my-lg-0" asp-page="/Search" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Книга или автор" aria-label="Search" name="searchString" autocomplete="off">
                    <button class="uk-button uk-button-default my-2 my-sm-0" href="#">Найти</button>
                </form>
            </div>
            <div class="uk-navbar-item uk-navbar-right">
                <ul class="uk-navbar-nav">
                    @if (IsSectionDefined("Navbar"))
                    {
                        @RenderSection("Navbar")
                    }
                    else
                    {
                        <li><a class="uk-navbar-item uk-hidden-small uk-navbar" asp-controller="Auth" asp-action="Login">Войти</a></li>
                    }
                </ul>

            </div>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()

    </main>

 <footer class="container" style="position: relative">
     <div class="row">
            <div class="col-md-6 footerLeft">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footerBlockTitle">
                            <b>О проекте</b>
                        </div>
                        <div class="footerBlockContext">
                            <a href="#" style="color: rgb(179, 77, 0);">Правовая информация </a>
                        </div>
                        <div class="footerBlockContext">
                            <a href="#" style="color: rgb(179, 77, 0) ;">Настройки </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footerBlockTitle">
                            <b> О подписке </b>
                        </div>
                        <div class="footerBlockContext">
                            <a href="#" style="color: rgb(179, 77, 0);">Купить подписку </a>
                        </div>
                        <div class="footerBlockContext">
                            <a href="#" style="color: rgb(179, 77, 0);">Подарить подписку </a>
                        </div>
                        <div class="footerBlockContext">
                            <a href="#" style="color: rgb(179, 77, 0);">FAQ </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 footerRight">
                <div class="footerBlockTitle">
                    <b>Карты</b>
                </div>
                <div class="footerBlockContext">Visa,Mastercard</div>
            </div>
     </div>
 </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script> -->

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>